<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
   "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html>
<head>
<title>{% block title %} Meep {% endblock title %}</title>
<meta http-equiv="content-type" content="text/html; charset=utf-8" />
<link rel="stylesheet" href="/files/style.css" type="text/css" />
<!--[if IE ]><style type="text/css">
.title {
padding-top:112px;
}
</style>
<![endif]-->
{% block head %}
{% endblock %}
</head>
<body>
<div id="all">
<div id="header">

<span style="float:right;margin-right:5px;display:inline;"><a href="/">Home</a> - 
<a href='/m/list_topics'>Topics</a> - 
{% if username != "" %}
<a href='/m/add_topic'>Add Topic</a> - 
{% endif %}
{% if username == "" %}
<a href='/login'>Log in</a> 
{% else %}
<a href='/logout'>Log out</a>
{% endif %}
</span>

<div class="title">{% block title2 %}Index{% endblock title2 %}</div>
</div>

<div id="content">
{% block body %}
{% endblock %}
</div>
</div>
<div id="footer">&copy; 2007 Pagename | Design by <a href="http://www.rotw.de.ki/" target="_blank">RotW</a>
{% if username == "admin" %}
<div style="float: right; display: inline;">
    <span style="font-weight: bold;">Admin functions: </span>
    <a href='/add_user'>Add New User</a>, <a href='/list_users'>Userlist</a>
</div>
{% endif %}
</div>   
</body>
</html>