{% extends "base.html" %}

{% block title %}meep: {{ topic.topic_name }}{% endblock title %}
{% block title2 %}meep: {{ topic.topic_name }}{% endblock title2 %}

{% block body %}


<h1>{{ topic.topic_name }}</h1>
{% for item in messages %}
    <p>id: {{ item.msg_id }}</p>
    <p>title: {{ item.header }}</p>
    <p>message: {{ item.msg_text }}</p>
    <p>author: {{ item.username }}</p>
    {% if username == item.username %}
    <form action='../delete_message_topic' name='delete_message_{{ item.msg_id }}' method='POST'>
        <input type='number' hidden='true' name='id' value='{{ item.msg_id }}'>
        <input type='number' hidden='true' name='topic_id' value='{{ topic.topic_id }}'>
        <input type='submit' value='Delete message'>
    </form>
    <form action='../reply_topic' name='reply_{{ item.msg_id }}' method='POST'>
        <input type='number' hidden='true' name='id' value='{{ item.msg_id }}'>
        <input type='number' hidden='true' name='topic_id' value='{{ topic.topic_id }}'>
        <input type='submit' value='Reply'>
    </form>
    {% endif %}
    <hr>
{% endfor %}
 
{% if username != "" %}
<form action='../add_message_topic_action' name='add_message' method='POST'>
    Title: <input type='text' name='title'><br>
    Message:<input type='text' name='message'><br>
    <input type='number' hidden='true' name='topicid' value='{{ topic.topic_id }}'><input type='submit'>
</form>
{% endif %}
{% if username == "admin" %}
<form action='../delete_topic_action' name='delete_topic' method='POST'>
    <input type='number' hidden='true' name='tid' value='{{ topic.topic_id }}'>
    <input type='submit' value='Delete topic'>
</form>
{% endif %}

<a href='/m/list_topics'>Go back</a><br />

{% endblock body %}
